.fundo{
    background-color: white;

}
.imgSA{
    background-image: url(https://i.pinimg.com/originals/e2/d5/8d/e2d58d53e808d56015b92655e15ecf6f.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height:110vh;
    background-size: cover;
    background-position: center;
}

.txtSA {

    text-align: center;
    color: #634171;
    font-size: 20px;
}

.txt1SA {

    text-align: center;
    color: #634171;
    font-size: 45px;
}