.txt1{
  font-weight: bold !important;
  color: #b1716e;
} 

.img{
    background-image: url(https://i.pinimg.com/originals/91/a0/2c/91a02c5ac089c51bb8bbc25793b9e33d.jpg);
    background-repeat: no-repeat;
    width: 50vh;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none ;
}

.btnLogin {
  background-color: #b1716e !important;
  color: white !important;
}

.corLogin {
  color: #560f6f !important; 
}

.al{
  font-size: 60px !important;
}

.btnLogin2 {
  color: white !important;
  text-decoration: none;
  background-color: #560f6f !important;
  margin-left: 60px;

}

