.box1{
    background-color: #b365dd;
    height: 80px; 
    text-align: center;
}

.box2{
    background-color: #7500b4;
    height: 60px;
 }

.redes{
  font-size: 60 !important;
  color: white; 
}

.txt{
    color: white;
    text-decoration: none !important;
}