.box1{
    background-color: #3F5185;
    height: 120px; 
}

.box2{
    background-color: #303F9F;
    height: 60px;
 }

.redes{
  font-size: 60 !important;
  color: white; 
}

.txt{
    color: white;
}