.titulo{
    color: #fdfdfd !important;
    text-align:center;
}

.img{
    width: 450px;
    height: 450px;
    display: block;
    margin: 0 auto;
}

.botao12{
    border-color: white !important;
    background-color: #e29b26 !important;
    color: white !important;
    text-align: center !important;
}

.caixa{
    background-color: #67a797 ;
}

.postagens{
    background-color: #a5beb8a8 !important;
}