.img2{

    background-image: url(https://i.pinimg.com/236x/1c/c5/a7/1cc5a74a02b9461e4024f54e6d200e7c.jpg);
    background-repeat: no-repeat;
    width: 200vh;
    min-height: 100vh;
    background-size:contain;
    background-position: start;
}

.txt1CU{
    font-weight: bold !important;
    color: white !important;

}

.btnCancelar{
    margin-right: 20px !important ;
}

.teste {
    background-color: #c2b5ce ;
}
